
<h3>{{meteos.city_info['name']}}</h3>
<h3>{{meteos.city_info['country']}}</h3>
<h3>Date : {{meteos.current_condition['date']}}</h3>
<h3>Heure : {{meteos.current_condition['hour']}}</h3>
<h3>Heure : {{meteos.current_condition['tmp']}}</h3>
<h3>Humidité : {{meteos.current_condition['humidity']}}</h3>
<h3>Condition : {{meteos.current_condition['condition']}}</h3>
<h3>Vitesse vent : {{meteos.current_condition['wnd_spd']}}</h3>
<h3>Direction vent : {{meteos.current_condition['wnd_dir']}}</h3>

<img src={{meteos.current_condition['icon_big']}}>

<router-outlet></router-outlet>


